* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  display: flex;
  background: #888;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board-container {
  width: 1200px;
  height: 675px;
  display: flex;
  background-image: url("images/tic-tact-toe-board\ Medium.jpeg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
}

.board-head {
  flex: 1;
  color: lightblue;
  text-align: center;
  font-size: 1.5rem;

}

.play-area {
  flex: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-container {
  flex: 1;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: white;
  margin: 30px;
  box-shadow: 0px 0px 5px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.player-container.turn{
  box-shadow: 0px 0px 20px yellow;
}

.player-id {
  font-size: 1.5rem;
  font-weight: bolder;
}
.player-name {
  font-size: 1.5rem;
}
.player-type {
  font-size: 1.5rem;
}
.player-score {
  font-size: 1.5rem;
}
.player-marker img {
  width: 100px;
}

h1 {
  color: blue;
  text-align: center;
}

.board {
  width: 720px;
  flex: 3;
  height: 90%;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 1fr;
  grid-template-rows: 0.9fr 0.8fr 1fr;
  gap: 50px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cell:hover {
  cursor: pointer;
  background: #333;
}

.piece{
  width: 60%;
}

.board-foot {
  flex: 1;
  color: white;
  text-align: center;
}

.game-setup-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fffc;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
}

.game-setup {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.game-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: yellow;
  background: none;
  border: none;
  text-shadow: 0 0 4px black;
}

.game-over-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background: white;
  padding: 2rem;
  border: none;
  text-shadow: 0 0 4px black;
  border-radius: 5px;
}